<canvas id="myChart" width="100vw" height="100vh"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for college in site.data.sat.entries %}'{{ college.College }}',{% endfor %}],
        datasets: [{
            label: '# of Votes',
            data: [{% for college in site.data.sat.entries %}{{ college.inc }},{% endfor %}],
            backgroundColor: [
            {% for college in site.data.sat.entries %}
            '{{ college.backgroundColor }}',
            {% endfor %}
            ],
            borderColor: [
            {% for college in site.data.sat.entries %}'{{ college.borderColor }}',{% endfor %}
            ],
            borderWidth: 1
        }]
    },
    options: {
      legend: { display: false },
      title: {
          display: true,
          text: 'Median SAT Point Difference from 2002 to 2017'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
            xAxes: [
              {
                scaleLabel: {
                  display: true,
                  labelString: 'Data gathered from http://www.collegeresults.org/default.aspx',
                  fontSize: 11
                }
              }
            ]
        }
    }
});
</script>
